.container{
    width: 100vw;
    background-color: #325E9C;
    /* display: flex;
    justify-content: center;
    align-items: center; */
}

.contentWrap{
    width: 100%;
    /* background-color: #325E9C; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 80vh;
    height: auto;
    padding: 10vh 0 15vh;
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.profilePic{
    width: 10.4vw;
    height: 10.4vw;
    margin: 30px 0 20px;
    position: relative;
    
}

.profilePic img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.title{
    color: #fff;
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 600;
}

.miniTitle{
    color: #fff;
    text-transform: uppercase;
    font-size: 10px;
    margin-bottom: 10px;
    letter-spacing: 1px;
}

.name{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 15px;
}

.experince{
    color: #325E9C;
}

.desc{
    text-align: center;
    line-height: 25px;
    font-size: 14px;
    width: 75%;
    margin: 10px 0 30px;
    opacity: .5;
    letter-spacing: 0;
}
.card{
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 6px #00000029;
    width: 58.8vw;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.quote{
    position: absolute;
    bottom: -10px;
    right: -10px;
}

@media screen and (max-width: 480px) {
 .miniTitle{
     font-size: 16px;
 }   
 .title{
     text-align: center;
 }
 .card{
     width: 82vw;
     padding: 0 10px;
     justify-content: center;
 }
 .profilePic{
     width: 40vw;
     height: 40vw;
 }
 .quote img{
     width: 15vw;
 }
 .experince{
     font-size: 20px;
     text-align: center;
 }
}