.container{
    background-color: #325E9C;
    width: 100vw;
    height: 400px;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.content{
    margin: 0 11.45vw;
}

.wrapper{
    padding-top: 70px;
    display: flex;
}


.firmContent{
    width: 25vw;
    margin-right: 5.5vw;
}

.logo{
    width: 17vw;
    height: 53px;
    margin-left: -10px;
}

.desc{
    color: #fff;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 16px;
}

.inputWrapper{
    border: 1px solid #fff;
    width: fit-content;
    margin-top: 10px;
    border-radius: 6px;
    width: 23.6vw;
}
.redirectionWrapper{
    display: flex;
    flex-direction: column;
    width: 10.41vw;
    margin-top: 50px;
}
.redirectionWrapper li{
    color: #fff;
    cursor: pointer;
    list-style: none;
}
.input::placeholder{
    color: #fff;
}
.input:focus{
    outline: none;
}

.input{
    height: 40px;
    background-color: #325E9C;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    border: none;
    width: 60%;
}

.button{
    background-color: #fff;
    border-radius: 5px;
    height: 40px;
    padding: 0 10px;
    border: none;
    color: #325E9C;
    width: 8.4vw;
    float: right;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: #fff;
    margin-bottom: 15px;
}

.locations{
    margin-top: 50px;
}

.locationWrap{
    display: flex;
    margin-bottom: 20px;
    color: #fff;
    font-size: 10px;
}

.locationWrap div{
    font-size: 14px;
    font-weight: 300;
}

.flag{
    width: 58px;
    margin-right: 18px;
    height: 28px;
}

.errMsg{
    color: #fff;
    margin-top: 10px;
}
.socialFooter{
    display: flex;
    height: 65px;
    align-items: center;
    border-top: 1px solid #ccc;
    width: 100%;
    color: #fff;
    font-weight: 300;
    font-size: 12px;
    justify-content: space-around;
}

.socialWrap img{
    width: 24px;
    height: 24px;
    margin: 0 12px;
    cursor: pointer;
}

.legal{
    display: flex;
}

.legal li{
    margin: 0 10px;
    cursor: pointer;
    list-style: none;
    cursor: pointer;
    list-style: none;
}

.legal li a{
    color: #fff;
}

@media screen and (max-width: 480px) {
    .wrapper{
        flex-direction: column;
    }
    .firmContent{
        width: 100%;
    }
    .logo{
        width: auto;
    }
    .inputWrapper{
        width: 100%;
    }
    .button{
        width: 40%;
    }
    .redirectionWrapper{
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        font-size: 20px;
    }
    .redirectionWrapper li{
        margin-right: 40px;
        color: #fff;
        list-style: disc;
    }
    .container{
        height: auto;
    }
    .socialFooter{
        flex-direction: column;
        align-items: flex-start;
        padding: 20px;
        height: auto;
        font-size: 20px;
    }
    .legal{
        flex-wrap: wrap;
        margin: 25px 0;
    }
    .legal li{
        margin-left: 15px;
        color: #fff;
        margin-right: 20px;
        list-style: disc;
    }
    .socialWrap img{
        width: 50px;
        height: 50px;
    }
}