.container{
    width: 100vw;
    height: 100vh;
    min-height: 580px;
    background-color: #F9F9F9;
    display: flex;
    justify-content: center;
    align-items: center;
    /* font-family: Arial, Helvetica, sans-serif; */
}
.content{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.title{
    font-size: 12px;
    color: #325E9C;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.subTitle{
    font-size: 24px;
    font-weight: 600;
    text-transform: capitalize;
    margin-bottom: 30px;
}
.caroContainer{
    display: flex;
}

.carocard{
    width: calc((100vw - 23vw) / 3 );
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    min-height: 25vw;
    position: relative;
    margin: 4.86vw 4px 0; 
}



.carocard:hover{
    background-color: #325E9C;
    color: #fff;
}

.profilePic{
    width: 10.4vw;
    height: 10.4vw;
    position: absolute;
    top: -4.86vw;
}

.profilePic img{
    width: 100%;
}

.desc{
    opacity: .4;
    font-size: 1rem;
    line-height: 22px;
    width: 80%;
    text-align: center;
    margin-top: 5.5vw;
}


.name{
    font-size: 18px;
    font-weight: 600;
    margin: 20px 0 10px;
}   

.designation{
    opacity: .6;
    font-size: 14px;
    margin-bottom: 10px;
}

@media (max-width:1100px) {
    .name{
        margin: 10px;
    }
    .desc{
        margin-top: 7vw;
    }
    .designation{
        padding-bottom: 10px;
    }
}