@font-face {
  font-family: 'Gotham';
  src: local('Gotham'), url(./fonts/Gotham/GothamMedium.ttf) format('ttf');
}

@font-face {
  font-family: 'Gotham-light';
  src: local('Gotham-light'), url(./fonts/Gotham/GothamLight.ttf) format('ttf');
  font-weight: 300;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}