
@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
      url(./fonts/Roboto/Roboto-Light.ttf) format("truetype");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
      url(./fonts/Roboto/Roboto-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
      url(./fonts/Roboto/Roboto-Medium.ttf) format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: local("Roboto"),
      url(./fonts/Roboto/Roboto-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  font-family: "Roboto";
  font-weight: normal;
  overflow-x: hidden;
}

.ant-carousel .slick-dots li button{
  height: 20px !important;
  border-radius: 50% !important;
  width: 20px !important;
  opacity: 1 !important;
  border: 1px solid #fff !important;
  background-color: transparent !important;
}

.ant-carousel .slick-dots li{
  margin: 0 5px !important;
  width: 20px !important;
  height: 20px !important;
}

.ant-carousel .slick-dots li.slick-active button{
  width: 20px !important;
  background-color: #fff !important;
}

.ant-carousel .slick-dots li.slick-active{
  width: 20px !important;
}

.ant-carousel .slick-dots-bottom{
  bottom: 50px !important;
}

input:focus{
  outline: none;
}